
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    background-image: url("IMG/BACKGROUND/bg2560.png");
    background-size: 100%;
    overflow: hidden;
}

canvas {
    width: 1900px;
    height: 1080px;
}

#imageContainer {
    display: none;
}