
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("IMG/BACKGROUND/bg2560.png");
    background-size: 125%;
    overflow: hidden;
}

canvas {
    border: 100px solid black;
    border-right: 25px solid black;
    width: 800px;
    height: 600px;
    transform: translateX(-44%);
}
