
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 600px;
    background-image: url("IMG/BACKGROUND/bg2560.png");
    background-size: 100%;
    overflow: hidden;
}

canvas {
    width: 800px;
    height: 600px;
}

#imageContainer {
    display: none;
}